@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
   font-family: 'Cabin', sans-serif;


}

#calculator{
   text-align: center;
   margin-bottom: 4rem;
}
.calculator-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: inset 5px 5px 12px #ffffff,
               5px 5px 12px rgba(0, 0, 0, 0.16);
   padding: 30px;
   border-radius: 30px;
   background-color: #ecf0f3;
   box-sizing: border-box;
   height: 650px;
}

.button-container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}

.button-container >*{
   padding: 20px;
   border: none;
   border-radius: 40px;
   box-shadow: inset 5px 5px 12px #ffffff,
               5px 5px 12px rgba(0, 0, 0, 0.16);
   margin: 8px;   
   font-size: 2rem;
   background-color: #ecf0f3;
}
.will-display, #clear, #clear-back, #equal{
   transition: all .25s ease-in-out;
}

.will-display:hover, #clear:hover, #clear-back:hover, #equal:hover{
   background-color: rgb(211, 205, 205);
   color: white;
}

input{
   width: 100%;
   border-radius: 30px;
   border: none;
   box-shadow: inset 5px 5px 12px #ffffff,
               inset 5px 5px 12px rgba(0, 0, 0, 0.347);
   height: 6rem;
   margin-bottom: 10px;
   background-color: #ecf0f3;
   text-align: right;
   font-size: 2rem;


}

::placeholder{
   padding: 10px;
}

@media screen and (max-width:870px) {
   
   #calculator{
      margin-bottom: 50px;
   }
   .calculator-container{
   height: 550px;
   
   }

   .button-container{
      margin-top: 20px;
   }

   .button-container >*{
      border-radius: 50%;
      width: 60px;
      height: 60px;
      text-align: center;
      padding: 10px;
   }
}